<div class="nested-fields">
  <%= f.label :address_type %>
  <%= f.select :address_type, options_for_select(["Home", "Office", "other"]), prompt: 'Select One' %>

  <%= f.label :address %>
  <%= f.text_field :address %>
  
  <%#= f.check_box :_destroy %>

  <%= link_to_remove_association "Remove Address", f %>
</div>