<!-- <hr class="border">
<%#= form_for([@user, @contact]) do |f| %>
  <%= @contact.errors.full_messages.to_sentence%>
    
    <div class="form-group">
      <%#= f.label :name %>
      <%#= f.text_field :name %>
    </div>  

    <div class="form-group">
      <%#= f.submit %>
    </div>  
<%# end %>
 -->

<%= form_for([@user, @contact]) do |f| %>

  <%= render 'shared/errors', object: @contact %>

  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div>
    <p><strong>Addresses:</strong></p>

    <div id="contact_addresses">
      <%= f.fields_for :contact_addresses do |address| %>
        <%= render 'contact_address_fields', f: address %>
      <% end %>  
      <div>
        <%= link_to_add_association 'Add Address', f, :contact_addresses %>
      </div>
     </div>
  </div>
  
  <div>
    <p><strong>PhoneNumbers:</strong></p>

    <div id="contact_phone_numbers">
      <%= f.fields_for :contact_phone_numbers do |phone_number| %>
        <%= render 'contact_phone_number_fields', f: phone_number %>
      <% end %>  
      <div>
        <%= link_to_add_association 'Add PhoneNumber', f, :contact_phone_numbers %>
      </div>
     </div>
  </div>

  <div class="form-group">
      <%= f.submit %>
  </div>  
<% end %>
