<tr>
    <td><%= contact_phone_number.phone_type %></td>
    <td><%= number_to_phone(contact_phone_number.phone_number) %></td>
    <td class="actions">
      <%= link_to 'Show', contact_contact_phone_number_path(@contact, contact_phone_number), class: "btn btn-success" %>
      <%= link_to 'Edit', edit_contact_contact_phone_number_path(@contact, contact_phone_number), class: "btn btn-primary" %>
      <%= link_to 'Delete', contact_contact_phone_number_path(@contact, contact_phone_number), method: :delete, data: {confirm: 'Are you sure'}, class: "btn btn-success" %>
    
    </td>
</tr>